<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Data</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script async defer src="https://buttons.github.io/buttons.js"></script>
    <link rel="stylesheet" href="/styles/layout.css" type="text/css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">

</head>

<body>
<section id="sideMenu">
    <nav>
        <a href="#" class="active"><i class="fas fa-home"></i> Home</a>
        <a href="#"><i class="far fa-user"></i>  User</a>
        <a href="#"><i class="fas fa-cog"></i>  Settings</a>
        <a href="#"><i class="far fa-bookmark"></i>  Bookmark</a>
    </nav>
</section>

<header id="header">
    <div class="search-area">
        <i class="fa fa-search" aria-hidden="true"></i>
        <input type="text" name="" value="" class="search_in">
    </div>
</header>
<!--content 라인-->
<section class="content-area">
    <!--기업명이랑, 기본적 설명 들어갈부분-->
    <div class="heading">
        <h1>DashBoard</h1>
        <p>copyright.2019.media.fin</p>
    </div>

    <div class="cards">
        <!--기업이미지,기본적 설명 들어갈부분-->
        <div class="col-md-4">
            <div class="card">
                <div class="company-img">
                </div>
                <hr>
                <div class="col-md-9">
                    <span class="est">설립연도: </span>
                    <span class="marketcap">시가총액: </span>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <!-- 주가데이터 들어갈 부분-->
            <div class="card">
                <h4>Stock Graph</h4>
                <!--날짜-->
                <span class="date">
                        2019.05.17.test
                    </span>
                <!--그래프 넣을부분-->
                <div>
                </div>
            </div>
        </div>

        <!-- 연관기업명 들어갈 부분-->
        <div class="col-md-4">
            <div class="card">
                <h4>연관기업</h4>
            </div>
        </div>

    </div>

    <div class="description-part">
        <p>Description part</p>
        <p>Description part</p>
        <p>Description part</p>
        <p>Description part</p>
        <p>Description part</p>

    </div>

    <div class="limiter">
        <div class="container-table100">
            <div class="wrap-table100">
                <div class="table">

                    <div class="row header">
                        <div class="cell">
                            Title
                        </div>
                        <div class="cell">
                            Date
                        </div>
                        <div class="cell">
                            Source
                        </div>
                        <div class="cell">
                            Description
                        </div>
                    </div>

                    <div class="row">
                        <div class="cell" data-title="Title">
                            뉴스제목  ----
                        </div>
                        <div class="cell" data-title="Date">
                            날짜  ----
                        </div>
                        <div class="cell" data-title="Source">
                            신문사 ----
                        </div>
                        <div class="cell" data-title="Description">
                            간략한내용--- / 크롤링해서
                        </div>
                    </div>


                    <div class="row">
                        <div class="cell" data-title="Title">
                            뉴스제목  ----
                        </div>
                        <div class="cell" data-title="Date">
                            날짜  ----
                        </div>
                        <div class="cell" data-title="Source">
                            신문사 ----
                        </div>
                        <div class="cell" data-title="Description">
                            간략한내용--- / 크롤링해서
                        </div>
                    </div>


                    <div class="row">
                        <div class="cell" data-title="Title">
                            뉴스제목  ----
                        </div>
                        <div class="cell" data-title="Date">
                            날짜  ----
                        </div>
                        <div class="cell" data-title="Source">
                            신문사 ----
                        </div>
                        <div class="cell" data-title="Description">
                            간략한내용--- / 크롤링해서
                        </div>
                    </div>


                    <div class="row">
                        <div class="cell" data-title="Title">
                            뉴스제목  ----
                        </div>
                        <div class="cell" data-title="Date">
                            날짜  ----
                        </div>
                        <div class="cell" data-title="Source">
                            신문사 ----
                        </div>
                        <div class="cell" data-title="Description">
                            간략한내용--- / 크롤링해서
                        </div>
                    </div>


                    <div class="row">
                        <div class="cell" data-title="Title">
                            뉴스제목  ----
                        </div>
                        <div class="cell" data-title="Date">
                            날짜  ----
                        </div>
                        <div class="cell" data-title="Source">
                            신문사 ----
                        </div>
                        <div class="cell" data-title="Description">
                            간략한내용--- / 크롤링해서
                        </div>
                    </div>


                    <div class="row">
                        <div class="cell" data-title="Title">
                            뉴스제목  ----
                        </div>
                        <div class="cell" data-title="Date">
                            날짜  ----
                        </div>
                        <div class="cell" data-title="Source">
                            신문사 ----
                        </div>
                        <div class="cell" data-title="Description">
                            간략한내용--- / 크롤링해서
                        </div>
                    </div>


                    <div class="row">
                        <div class="cell" data-title="Title">
                            뉴스제목  ----
                        </div>
                        <div class="cell" data-title="Date">
                            날짜  ----
                        </div>
                        <div class="cell" data-title="Source">
                            신문사 ----
                        </div>
                        <div class="cell" data-title="Description">
                            간략한내용--- / 크롤링해서
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    </div>
</section>



</body>
</html>
